version: '2.1'
orbs:
  node: circleci/node@5.1.0

jobs:
  deploy_app_to_railway:
    docker:
      - image: cimg/node:20.9
    steps:
      - checkout
      - node/install:
          node-version: '20.9'
      - run: node --version
      - run:
          name: Railway CLI (npx)
          command: npx -y @railway/cli --version
      - run:
          name: Deploy directo (sin link)
          command: |
            echo "len(RAILWAY_TOKEN)=${#RAILWAY_TOKEN}"
            RAILWAY_TOKEN="$RAILWAY_TOKEN" npx -y @railway/cli up \
              -p "$RAILWAY_PROJECT_ID" \
              -s "$RAILWAY_SERVICE" \
              --detach --verbose

workflows:
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only: [ main ]
