version: 2.1

jobs:
  deploy_app_to_railway:
    docker:
      - image: cimg/node:20.9
    steps:
      - checkout

      - run:
          name: Instalar Railway CLI
          command: |
            npm install -g @railway/cli
            railway --version

      - run:
          name: Login en Railway
          command: |
            railway login --apiKey "$RAILWAYTOKEN"

      - run:
          name: Link al proyecto Railway
          command: |
            railway link -p "$RAILWAY_PROJECT_ID"

      - run:
          name: Deploy con Railway
          command: |
            railway up --service "$RAILWAYSERVICE" --detach

workflows:
  version: 2
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only:
                - main
